input,
label {
  display: block;
}
body {
  background-color: black;
}
h1 {
  color: whitesmoke;
}
label {
  color: whitesmoke;
}

/* BARS */

.bar-container {
  position: relative;
  margin-top: 10vh;
  padding: 0 3rem 0 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 60vh;
  min-width: 500px;
  border-bottom: 2px solid#f9f9f9;
}

.bar-number {
  align-self: flex-end;
  flex-grow: 4;
  width: 4px;
  background-color: whitesmoke;
  display: inline-block;
  margin: 0 1px;
}

.bar-number:hover {
  background-color: lightblue;
}

/* BAR NUMBER RANGE */

#bar-range {
  -webkit-appearance: none;
  width: auto;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#bar-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: whitesmoke;
  cursor: pointer;
}

#bar-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

#bar-range:hover {
  opacity: 1;
}

/* FOR LATER */
/* .num-hide {
  visibility: hidden;
  color: lightblue;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 2;
}
.bar-number:hover .num-hide {
  visibility: visible;
} */

/* BUTTONS */

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* ARROW BUTTONS */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  height: auto;
  width: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
